In [5]:
#en este caso mezclaremos la funcion lambda con el metodo apply
#la funcion lambda en python es una forma de escribir funciones menos robustas

In [6]:
#vamos a importar pandas y nunpy
import pandas as pd
import numpy as np
#vamos a traer el archivo de drive
df_jugadores=pd.read_csv("/content/players_20 (1).csv")
df_jugadores.head(5)
#vamos a fijar el nombre corto como el index o Id, para esto usamos el metodo set_index
df_jugadores=df_jugadores.set_index("short_name")
df_jugadores.head(5)
#vamos a traer solo las columnas que necesito, y voy actualizar el dataframe
df_jugadores=df_jugadores[["player_url",	"long_name",	"age",	"dob",	"height_cm",	"weight_kg",	"nationality",	"club"]]
df_jugadores.head(5)

,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,,
L. Messi,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

In [8]:
#las funciones normalmente se ven de la siguiente manera
def sumar (a,b):
  x=a+b
  return(x)

In [9]:
sumar(29,24)

53

In [10]:
#
def modulo (a,b):
  y=a%b
  return(y)

In [11]:
modulo (25,2)

1

In [13]:
#ahora vamos a ver como se hacen las funciones usando lambda
#primero se asigna el nombre
#luego asignamos el valor
#luego introducimos los parametros
#luego dos puntos
#luego el output
sumar_2= lambda a,b:a+b

In [14]:
sumar_2(39,39)

78

In [15]:
modulo_2=lambda a,b:a%b

In [16]:
modulo_2(25,2)

1

In [17]:
#ahora usemos apply con lambda
#vamos a pasar los centimetro a metros en la informacion de los jugadores
#en este caso si usamos apply no necesitamos poner el nombre de la funcion
df_jugadores["height_cm"].apply(lambda x:x/100)

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [18]:
df_jugadores["age"].apply(lambda x:x*12)

short_name
L. Messi             384
Cristiano Ronaldo    408
Neymar Jr            324
J. Oblak             312
E. Hazard            336
                    ...
Shao Shuai           264
Xiao Mingjie         264
Zhang Wei            228
Wang Haijian         216
Pan Ximing           312
Name: age, Length: 18278, dtype: int64

In [19]:
#si quiero enredarme menos para convertir los cm a metros
df_jugadores["height_cm"]/100

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [20]:
#tambien podemos pasar los nombres de los jugadores a mayusculas
df_jugadores["long_name"].apply(lambda x:x.upper())

short_name
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

In [21]:
#si quiero hacerlo simple pero con mas memoria seria asi
df_jugadores["long_name"].str.upper()

short_name
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

In [23]:
#tambien puedo usar lambda para extraer partes de fechas
#primero debemos garantizar que la columna fecha este en modo date
df_jugadores["dob"]=pd.to_datetime(df_jugadores["dob"])

In [24]:
#ahora extraemos los años solo con la funcion lambda
df_jugadores["dob"].apply(lambda x:x.year)

short_name
L. Messi             1987
Cristiano Ronaldo    1985
Neymar Jr            1992
J. Oblak             1993
E. Hazard            1991
                     ...
Shao Shuai           1997
Xiao Mingjie         1997
Zhang Wei            2000
Wang Haijian         2000
Pan Ximing           1993
Name: dob, Length: 18278, dtype: int64

In [28]:
#para hallar el nombre del mes se hace de la siguiente manera
df_jugadores["dob"].apply(lambda x:x.month_name())

short_name
L. Messi                 June
Cristiano Ronaldo    February
Neymar Jr            February
J. Oblak              January
E. Hazard             January
                       ...
Shao Shuai              March
Xiao Mingjie          January
Zhang Wei                 May
Wang Haijian           August
Pan Ximing            January
Name: dob, Length: 18278, dtype: object

In [30]:
df_jugadores.head(3)

,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,,
L. Messi,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain

In [34]:
#asi es como generamos la masa corporal de los jugadores
df_jugadores.apply(lambda x:x ["weight_kg"]/((x["height_cm"]/100)**2),axis=1)

short_name
L. Messi             24.913495
Cristiano Ronaldo    23.735308
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64